
                        
.carousel-control.right, .carousel-control.left {
     background-image: none;
     color: #E2C05E;
 }
                        
 .carousel-indicators li {
     border-color: #E2C05E;
  }
                        
 .carousel-indicators li.active {
      background-color: #E2C05E;
 }
.carousel-inner > .item > img {
    width: auto;
    height: 500px;
    max-height: 500px;
    object-fit: contain;
}